---
layout: browse
title: Browse - All Places
permalink: /browse/category/people/allplaces/
--- 

<header class="major">
	<h2>{{ page.title }}</h2>
</header>

<section class="box">
		
	{% for page in site.pages %}
		{% if page.primaryrole == 'cu' or page.primaryrole == 'pa' or page.primaryrole == 'ot' or page.primaryrole == 'of' %}
			<h3>{{ page.title }}</h3>
			<p>{{ page.p1 | truncatewords: 20 }}</p>
			<p><a href="/entries/people/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}.html" class="button small">More</a></p>
			<hr />
		{% endif %}
	{% endfor %}

	
</section>