---
layout: browse
title: Browse - Documents
permalink: /documents/
--- 

<header class="major">
	<h2>{{ page.title }}</h2>
</header>

<section class="box">
	
	{% assign test = true %}
	
	{% for page in site.pages %}
		{% if page.primaryrole == 'doc' %}
			<h3>{{ page.title }}</h3>
			<p>{{ page.p1 | truncatewords: 20 }}</p>
			<p><a href="/documents/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}.html" class="button small">More</a></p>
			<hr />
			{% assign test = false %}
		{% endif %}
	{% endfor %}

	{% if test %}
		<h3>No Results</h3>
		<p>Still have not figured this out, probably will do something with pdfs? Again, please let me know what documents we are talking about, then I can code it based on what we need. Thanks!</p>
	{% endif %}
	
</section>