---
layout: browse
title: Browse - All Events
permalink: /browse/category/events/allevents/
--- 

<header class="major">
	<h2>{{ page.title }}</h2>
</header>

<section class="box">
		
	{% for page in site.pages %}
		{% if page.primaryrole == 'an' or page.primaryrole == 'go' or page.primaryrole == 'ba' or page.primaryrole == 'ex' %}
			<h3>{{ page.title }}</h3>
			<p>{{ page.p1 | truncatewords: 20 }}</p>
			<p><a href="/entries/events/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}.html" class="button small">More</a></p>
			<hr />
		{% endif %}
	{% endfor %}

	
</section>