<!DOCTYPE HTML>
<!--
	Elevation by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

{% include head.html %}

	<body>
	
		<div id="page-wrapper">

			{% include header.html %}
			
		
				<div class="wrapper style1">
				
					<section id="main" class="container">
						<header class="major">
							<h2>{{page.title}}</h2>
							<p>
							{% if page.era == 'pr' %}
								<b>Pre-Barnard</b>
							{% elsif page.era == 'ea' %}
								<b>Early Barnard</b>
							{% elsif page.era == 'in' %}
								<b>Interwar Barnard</b>
							{% elsif page.era == 'po' %}
								<b>Postwar Barnard</b>
							{% elsif page.era == 'em' %}
								<b>Embattled Barnard</b>
							{% elsif page.era == 're' %}	
								<b>Recent Barnard</b>
							{% endif %}
							{% if page.secondera == 'pr' %}
								<b>| Pre-Barnard</b>
							{% elsif page.secondera == 'ea' %}
								<b>| Early Barnard</b>
							{% elsif page.secondera == 'in' %}
								<b>| Interwar Barnard</b>
							{% elsif page.secondera == 'po' %}
								<b>| Postwar Barnard</b>
							{% elsif page.secondera == 'em' %}
								<b>| Embattled Barnard</b>
							{% elsif page.secondera == 're' %}	
								<b>| Recent Barnard</b>
							{% endif %}
								
							{% if page.primaryrole == 'sa' %}
								<b>| Student/Alumae</b>
							{% elsif page.primaryrole == 'fa' %}
								<b>| Faculty</b>
							{% elsif page.primaryrole == 'ad' %}
								<b>| Administrator</b>
							{% elsif page.primaryrole == 'st' %}
								<b>| Staffer</b>
							{% elsif page.primaryrole == 'tr' %}
								<b>| Trustee</b>
							{% elsif page.primaryrole == 'do' %}
								<b>| Donor</b>
							{% elsif page.primaryrole == 'co' %}
								<b>| Columbia</b>
							{% elsif page.primaryrole == 'pu' %}
								<b>| Public Notable</b>
							{% elsif page.primaryrole == 'cu' %}
								<b>| Current Building</b>
							{% elsif page.primaryrole == 'pa' %}
								<b>| Past Building</b>
							{% elsif page.primaryrole == 'ot' %}
								<b>| Other Places</b>
							{% elsif page.primaryrole == 'of' %}
								<b>| Off Campus</b>
							{% elsif page.primaryrole == 'fi' %}
								<b>| Financial</b>
							{% elsif page.primaryrole == 'ac' %}
								<b>| Academic</b>
							{% elsif page.primaryrole == 'ec' %}
								<b>| Extra Curricular</b>
							{% elsif page.primaryrole == 'an' %}
								<b>| Annual Event</b>
							{% elsif page.primaryrole == 'go' %}
								<b>| Governance</b>
							{% elsif page.primaryrole == 'ba' %}
								<b>| Barnard/Columbia Relations</b>
							{% elsif page.primaryrole == 'ex' %}
								<b>| External Event</b>
							{% endif %}
							
							{% if page.secondrole == 'sa' %}
								<b>| Student/Alumae</b>
							{% elsif page.secondrole == 'fa' %}
								<b>| Faculty</b>
							{% elsif page.secondrole == 'ad' %}
								<b>| Administrator</b>
							{% elsif page.secondrole == 'st' %}
								<b>| Staffer</b>
							{% elsif page.secondrole == 'tr' %}
								<b>| Trustee</b>
							{% elsif page.secondrole == 'do' %}
								<b>| Donor</b>
							{% elsif page.secondrole == 'co' %}
								<b>| Columbia</b>
							{% elsif page.secondrole == 'pu' %}
								<b>| Public Notable</b>
							{% elsif page.secondrole == 'cu' %}
								<b>| Current Building</b>
							{% elsif page.secondrole == 'pa' %}
								<b>| Past Building</b>
							{% elsif page.secondrole == 'ot' %}
								<b>| Other Places</b>
							{% elsif page.secondrole == 'of' %}
								<b>| Off Campus</b>
							{% elsif page.secondrole == 'fi' %}
								<b>| Financial</b>
							{% elsif page.secondrole == 'ac' %}
								<b>| Academic</b>
							{% elsif page.secondrole == 'ec' %}
								<b>| Extra Curricular</b>
							{% elsif page.secondrole == 'an' %}
								<b>| Annual Event</b>
							{% elsif page.secondrole == 'go' %}
								<b>| Governance</b>
							{% elsif page.secondrole == 'ba' %}
								<b>| Barnard/Columbia Relations</b>
							{% elsif page.secondrole == 'ex' %}
								<b>| External Event</b>
							{% endif %}
							</p>
						</header>
						<div class="row">
							<div class="8u 12u(narrower)">

								<!-- Content -->
									<section id="content" class="box">
										
										<h3>Information</h3>
										
										<div class="table-wrapper">
											<table>
												<thead>
													<tr>
														<th></th>
														<th></th>
													</tr>
												</thead>
												<tbody>
												    {% if page.title == null %}
														<td></td>
														<td></td>
													{% else %}
													<tr>
														<td>Name</td>
														<td>{{page.title}}</td>
													</tr>
													{% endif %}
													{% if page.department == null %}
													{% else %}
													<tr>
														<td>Department</td>
														<td>{{page.department}}</td>
													</tr>
													{% endif %}
													<tr>
														<td>Nothing</td>
														<td>Vis ac commodo adipiscing arcu aliquet.</td>
														<td>19.99</td>
													</tr>
													<tr>
														<td>Something</td>
														<td> Morbi faucibus arcu accumsan lorem.</td>
														<td>29.99</td>
													</tr>
													<tr>
														<td>Nothing</td>
														<td>Vitae integer tempus condimentum.</td>
														<td>19.99</td>
													</tr>
													<tr>
														<td>Something</td>
														<td>Ante turpis integer aliquet porttitor.</td>
														<td>29.99</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="2"></td>
														<td>100.00</td>
													</tr>
												</tfoot>
											</table>
										</div>
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										<p>{{page.p1}}</p>
										<p>{{page.p2}}</p>
										<p>{{page.p3}}</p>
										<p>{{page.p4}}</p>
										<p>{{page.p5}}</p>
										<p>{{page.p6}}</p>
										<p>{{page.p7}}</p>
										<p>{{page.p8}}</p>
										<p>{{page.p9}}</p>
										<p>{{page.p10}}</p>
										<p>{{page.p11}}</p>
										<p>{{page.p12}}</p>
										<p>{{page.p13}}</p>
										<p>{{page.p14}}</p>
										<p>{{page.p15}}</p>
										<p>{{page.p16}}</p>
										<p>{{page.p17}}</p>
										<p>{{page.p18}}</p>
										<p>{{page.p19}}</p>
										<p>{{page.p20}}</p>
										<p>{{page.p21}}</p>
										<p>{{page.p22}}</p>
										<p>{{page.p23}}</p>
										<p>{{page.p24}}</p>
										<p>{{page.p25}}</p>
										<p>{{page.p26}}</p>
										<p>{{page.p27}}</p>
										<p>{{page.p28}}</p>
										<p>{{page.p29}}</p>
										<p>{{page.p30}}</p>
											

										{% if page.imagessourcelink == null %}
										  <p></p>
										{% elsif page.imagessourcelink2 == null %}
										  <hr />
										  <section>
										  <h3>Image</h3>
										{% else %}
										  <hr />
										  <section>
										  <h3>Images</h3>
										{% endif %}
											
										{% if page.imagessourcelink == null %}
											<p></p>
										{% else %}
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}											
										
										{% if page.imagessourcelink2 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}2.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink2 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}			
										
										{% if page.imagessourcelink3 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}3.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink3 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}
										
										{% if page.imagessourcelink4 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}4.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink4 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}	

										{% if page.imagessourcelink5 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}5.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink5 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}	

										{% if page.imagessourcelink6 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}6.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink6 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}	
										  

										
										{% if page.source == null and page.hyperlinksource == null %}
											<p></p>
										{% elsif page.source2 == null and page.hyperlinksource == null %}
										  <hr />
										  <h3>Source</h3>
										{% elsif page.source == null and page.hyperlinksource2 == null %}
										  <hr />
										  <h3>Source</h3>
										{% else %}
										  <hr />
										  <h3>Sources</h3>
										{% endif %}

										{% if page.source == null %}
											<p></p>
										{% else %}
										  {% for page in page.source %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source2 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source3 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source4 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source5 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source6 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source7 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source8 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source9 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source10 %}
											  {{page}} </br>
										  {% endfor %}
										{% endif %}
										
										{% if page.hyperlinksource == null %}
											<p></p>
										{% else %}
										  {% for page in page.hyperlinksource %}
										      <a href="{{ page }}">{{ page }}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource2 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource3 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource4 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource5 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource6 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource7 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource8 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource9 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource10 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										{% endif %}
									</section>

							</div>
							<div class="4u 12u(narrower)">

								<!-- Sidebar -->
									<section id="sidebar" class="box">
										<section>
										
											{% if page.primaryrole == 'sa' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/studentsalumae/" class="button small">Return to Students/Alumae</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'fa' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/faculty/" class="button small">Return to Faculty</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'ad' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/administrators/" class="button small">Return to Administrators</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'st' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/staffers/" class="button small">Return to Staffers</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'tr' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/trustees/" class="button small">Return to Trustees</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'do' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/donors/" class="button small">Return to Donors</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'co' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/columbia/" class="button small">Return to Columbia</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'pu' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/publicnotables/" class="button small">Return to Public Notables</a></li>
											</ul>
																						
											{% elsif page.primaryrole == 'cu' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/places/currentbuildings/" class="button small">Return to Current Buildings</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'pa' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/places/pastbuildings/" class="button small">Return to Past Buildings</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'ot' %}

											<ul class="actions">
												<li><a href="/browse/category/places/otherplaces/" class="button small">Return to Other Places</a></li>
											</ul>											
											
											{% elsif page.primaryrole == 'of' %}

											<ul class="actions">
												<li><a href="/browse/category/places/offcampus/" class="button small">Return to Off Campus</a></li>
											</ul>											
											
											{% elsif page.primaryrole == 'fi' %}

											<ul class="actions">
												<li><a href="/browse/category/entities/financial/" class="button small">Return to Financial</a></li>
											</ul>


											{% elsif page.primaryrole == 'ac' %}
											
											<ul class="actions">
												<li><a href="/browse/category/entities/academic/" class="button small">Return to Academic</a></li>
											</ul>

											{% elsif page.primaryrole == 'ec' %}
											
											<ul class="actions">
												<li><a href="/browse/category/entities/extracurricular/" class="button small">Return to Extra Curricular</a></li>
											</ul>

											{% elsif page.primaryrole == 'an' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/annualevents/" class="button small">Return to Annual Events</a></li>
											</ul>

											{% elsif page.primaryrole == 'go' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/governance/" class="button small">Return to Governance</a></li>
											</ul>

											{% elsif page.primaryrole == 'ba' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/barnardcolumbiarelations/" class="button small">Return to Barnard/Columbia Relations</a></li>
											</ul>

											{% elsif page.primaryrole == 'ex' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/externalevents/" class="button small">Return to External Events</a></li>
											</ul>

											{% endif %}
										
											
											
											
											{% if page.primaryrole == 'sa' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'fa' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'ad' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'st' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'tr' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'do' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'co' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'pu' %}
										
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
																						
											{% elsif page.primaryrole == 'cu' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/places/" class="button small">Return to Places</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'pa' %}
											
																					
											<ul class="actions">
												<li><a href="/browse/category/places/" class="button small">Return to Places</a></li>
											</ul>
											
											{% elsif page.primaryrole == 'ot' %}

											<ul class="actions">
												<li><a href="/browse/category/places/" class="button small">Return to Places</a></li>
											</ul>											
											
											{% elsif page.primaryrole == 'of' %}

											<ul class="actions">
												<li><a href="/browse/category/places/" class="button small">Return to Places</a></li>
											</ul>											
											
											{% elsif page.primaryrole == 'fi' %}

											<ul class="actions">
												<li><a href="/browse/category/entities/" class="button small">Return to Entities</a></li>
											</ul>


											{% elsif page.primaryrole == 'ac' %}
											
											<ul class="actions">
												<li><a href="/browse/category/entities/" class="button small">Return to Entities</a></li>
											</ul>

											{% elsif page.primaryrole == 'ec' %}
											
											<ul class="actions">
												<li><a href="/browse/category/entities/" class="button small">Return to Entities</a></li>
											</ul>

											{% elsif page.primaryrole == 'an' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/" class="button small">Return to Events</a></li>
											</ul>

											{% elsif page.primaryrole == 'go' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/" class="button small">Return to Events</a></li>
											</ul>

											{% elsif page.primaryrole == 'ba' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/" class="button small">Return to Events</a></li>
											</ul>

											{% elsif page.primaryrole == 'ex' %}
											
											<ul class="actions">
												<li><a href="/browse/category/events/" class="button small">Return to Events</a></li>
											</ul>

											{% endif %}
											
											
											
										</section>
										
										
										{% if page.relateddocuments == null %}
										  <hr />
										{% elsif page.relateddocuments2 == null %}
										  <hr />
										  <section>
										  <h3>Related Document</h3>
										{% else %}
										  <hr />
										  <section>
										  <h3>Related Documents</h3>
										{% endif %}
										
										{% if page.relateddocuments == null %}
											<p></p>
										{% else %}
										  {% for page in page.relateddocuments %}
											<ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments2 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments3 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments4 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments5 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments6 %}
											 <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments7 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments8 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments9 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments10 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  </section>
										  <hr />
										{% endif %}	
										
										
										
										<section>
									
										{% if page.primaryrole == 'sa' %}
											<h3>Other Students/Alumae</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'sa' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}
										{% elsif page.primaryrole == 'fa' %}
											<h3>Other Faculty</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'fa' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'ad' %}
											<h3>Other Administrators</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'ad' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}
										{% elsif page.primaryrole == 'st' %}
											<h3>Other Staffers</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'st' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'tr' %}
											<h3>Other Trustees</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'tr' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'do' %}
											<h3>Other Donors</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'do' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}								
										{% elsif page.primaryrole == 'co' %}
											<h3>Other Columbia</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'co' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'pu' %}
											<h3>Other Public Notables</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'pn' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'cu' %}
											<h3>Other Current Buildings</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'cu' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/places/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'pa' %}
											<h3>Other Past Buildings</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'pa' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/places/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'ot' %}
											<h3>Additional Other Places</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'ot' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/places/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'of' %}
											<h3>Other Off Campus</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'of' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/places/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'fi' %}
											<h3>Other Financial</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'fi' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/entities/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'ac' %}
											<h3>Other Academic</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'ac' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/entities/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'ec' %}
											<h3>Other Extra Curricular</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'ec' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/entities/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'an' %}
											<h3>Other Annual Events</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'an' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/events/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'go' %}
											<h3>Other Governance</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'go' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/events/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'ba' %}
											<h3>Other Barnard/Columbia Relations</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'ba' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/events/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% elsif page.primaryrole == 'ex' %}
											<h3>Other External Events</h3>
											{% for apage in site.pages limit:7 %}
												{% if apage.primaryrole == 'ex' %}
													{% if page.url != apage.url %}
														<ul class="actions">
															<li><a href="/entries/events/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
														</ul>												
													{% endif %}
												{% endif %}
											{% endfor %}			
										{% endif %}
										

										</section>
										
									</section>

							</div>
						</div>
					</section>
	
				</div>
				
				
				

				{% include footer.html %}	
				
		</div>

		{% include scripts.html %}	
		
	</body>
	
</html>
	
	
	