<!DOCTYPE HTML>
<!--
	Elevation by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

{% include head.html %}

	<body>
	
		<div id="page-wrapper">

			{% include header.html %}
			
		
				<div class="wrapper style1">
				
					<section id="main" class="container">
						<header class="major">
							<h2>{{page.title}}</h2>
							<p>
							{% if page.era == 'pr' %}
								<b>Pre-Barnard</b>
							{% elsif page.era == 'ea' %}
								<b>Early Barnard</b>
							{% elsif page.era == 'in' %}
								<b>Interwar Barnard</b>
							{% elsif page.era == 'po' %}
								<b>Postwar Barnard</b>
							{% elsif page.era == 'em' %}
								<b>Embattled Barnard</b>
							{% elsif page.era == 're' %}	
								<b>Recent Barnard</b>
							{% endif %}
							{% if page.secondera == 'pr' %}
								<b>| Pre-Barnard</b>
							{% elsif page.secondera == 'ea' %}
								<b>| Early Barnard</b>
							{% elsif page.secondera == 'in' %}
								<b>| Interwar Barnard</b>
							{% elsif page.secondera == 'po' %}
								<b>| Postwar Barnard</b>
							{% elsif page.secondera == 'em' %}
								<b>| Embattled Barnard</b>
							{% elsif page.secondera == 're' %}	
								<b>| Recent Barnard</b>
							{% endif %}
							<b>|</b>
							<b>Administrator</b>
							{% if page.secondrole == 'sa' %}
								<b>| Student/Alumae</b>
							{% elsif page.secondrole == 'fa' %}
								<b>| Faculty</b>
							{% elsif page.secondrole == 'ad' %}
								<b>| Administrator</b>
							{% elsif page.secondrole == 'st' %}
								<b>| Staffer</b>
							{% elsif page.secondrole == 'tr' %}
								<b>| Trustee</b>
							{% elsif page.secondrole == 'do' %}
								<b>| Donor</b>
							{% elsif page.secondrole == 'co' %}
								<b>| Columbia</b>
							{% elsif page.secondrole == 'pu' %}
								<b>| Public Notable</b>
							{% elsif page.secondrole == 'cu' %}
								<b>| Current Building</b>
							{% elsif page.secondrole == 'pa' %}
								<b>| Past Building</b>
							{% elsif page.secondrole == 'ot' %}
								<b>| Other Places</b>
							{% elsif page.secondrole == 'of' %}
								<b>| Off Campus</b>
							{% elsif page.secondrole == 'fi' %}
								<b>| Financial</b>
							{% elsif page.secondrole == 'ac' %}
								<b>| Academic</b>
							{% elsif page.secondrole == 'ec' %}
								<b>| Extra Curricular</b>
							{% elsif page.secondrole == 'an' %}
								<b>| Annual Event</b>
							{% elsif page.secondrole == 'go' %}
								<b>| Governance</b>
							{% elsif page.secondrole == 'ba' %}
								<b>| Barnard/Columbia Relations</b>
							{% elsif page.secondrole == 'ex' %}
								<b>| External Event</b>
							{% endif %}
							</p>
						</header>
						<div class="row">
							<div class="8u 12u(narrower)">

								<!-- Content -->
									<section id="content" class="box">
										{% if page.p1 == null %}
											<p></p>
										{% else %}
										  <h3>Information</h3>
										  <p>{{page.p1}}</p>
										{% endif %}
										<p>{{page.p2}}</p>
										<p>{{page.p3}}</p>
										<p>{{page.p4}}</p>
										<p>{{page.p5}}</p>
										<p>{{page.p6}}</p>
										<p>{{page.p7}}</p>
										<p>{{page.p8}}</p>
										<p>{{page.p9}}</p>
										<p>{{page.p10}}</p>
										<p>{{page.p11}}</p>
										<p>{{page.p12}}</p>
										<p>{{page.p13}}</p>
										<p>{{page.p14}}</p>
										<p>{{page.p15}}</p>
										<p>{{page.p16}}</p>
										<p>{{page.p17}}</p>
										<p>{{page.p18}}</p>
										<p>{{page.p19}}</p>
										<p>{{page.p20}}</p>
										<p>{{page.p21}}</p>
										<p>{{page.p22}}</p>
										<p>{{page.p23}}</p>
										<p>{{page.p24}}</p>
										<p>{{page.p25}}</p>
										<p>{{page.p26}}</p>
										<p>{{page.p27}}</p>
										<p>{{page.p28}}</p>
										<p>{{page.p29}}</p>
										<p>{{page.p30}}</p>
											

										{% if page.imagessourcelink == null %}
										  <p></p>
										{% elsif page.imagessourcelink2 == null %}
										  <hr />
										  <section>
										  <h3>Image</h3>
										{% else %}
										  <hr />
										  <section>
										  <h3>Images</h3>
										{% endif %}
											
										{% if page.imagessourcelink == null %}
											<p></p>
										{% else %}
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}											
										
										{% if page.imagessourcelink2 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}2.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink2 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}			
										
										{% if page.imagessourcelink3 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}3.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink3 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}
										
										{% if page.imagessourcelink4 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}4.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink4 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}	

										{% if page.imagessourcelink5 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}5.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink5 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}	

										{% if page.imagessourcelink6 == null %}
											<p></p>
										{% else %}
										   <p></p>
										  {% for page in page.title %}
										      <a href="#" class="image fit"><img src="/images/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}6.jpg" alt="{{page}}" /></a>
										  {% endfor %}
										  
										  {% for page in page.imagessourcelink6 %}
											<p>Public Domain, <a href="{{page}}">Image Source</a>
										  {% endfor %}
										{% endif %}	
										  

										
										{% if page.source == null and page.hyperlinksource == null %}
											<p></p>
										{% elsif page.source2 == null and page.hyperlinksource == null %}
										  <hr />
										  <h3>Source</h3>
										{% elsif page.source == null and page.hyperlinksource2 == null %}
										  <hr />
										  <h3>Source</h3>
										{% else %}
										  <hr />
										  <h3>Sources</h3>
										{% endif %}

										{% if page.source == null %}
											<p></p>
										{% else %}
										  {% for page in page.source %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source2 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source3 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source4 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source5 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source6 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source7 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source8 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source9 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source10 %}
											  {{page}} </br>
										  {% endfor %}
										{% endif %}
										
										{% if page.hyperlinksource == null %}
											<p></p>
										{% else %}
										  {% for page in page.hyperlinksource %}
										      <a href="{{ page }}">{{ page }}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource2 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource3 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource4 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource5 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource6 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource7 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource8 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource9 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource10 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										{% endif %}
									</section>

							</div>
							<div class="4u 12u(narrower)">

								<!-- Sidebar -->
									<section id="sidebar" class="box">
										<section>
											<ul class="actions">
												<li><a href="/browse/category/people/administrators/" class="button small">Return to Administrators</a></li>
											</ul>
											<ul class="actions">
												<li><a href="/browse/category/people/" class="button small">Return to People</a></li>
											</ul>
										</section>
										
										
										{% if page.relateddocuments == null %}
										  <hr />
										{% elsif page.relateddocuments2 == null %}
										  <hr />
										  <section>
										  <h3>Related Document</h3>
										{% else %}
										  <hr />
										  <section>
										  <h3>Related Documents</h3>
										{% endif %}
										
										{% if page.relateddocuments == null %}
											<p></p>
										{% else %}
										  {% for page in page.relateddocuments %}
											<ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments2 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments3 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments4 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments5 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments6 %}
											 <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments7 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments8 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments9 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  {% for page in page.relateddocuments10 %}
											  <ul class="actions">
												<li><a href="/entries/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}" class="button small alt">{{page}}</a></li>
											</ul>
										  {% endfor %}
										  </section>
										  <hr />
										{% endif %}	
										
										<section>
										<h3>Other Administrators</h3>
										{% for apage in site.pages %}
											{% if apage.layout == 'ad' %}
												
												{% if page.url != apage.url %}
													<ul class="actions">
														<li><a href="/entries/people/{{ apage.title | remove: ' ' | strip_newlines | downcase | md5 }}" class="button alt small">{{ apage.title }}</a></li>
													</ul>												
												{% endif %}
											{% endif %}
										{% endfor %}
										</section>
										
									</section>

							</div>
						</div>
					</section>
	
				</div>
				
				
				

				{% include footer.html %}	
				
		</div>

		{% include scripts.html %}	
		
	</body>
	
</html>
	
	
	